{{> header}}
{{> message}}
<div class="d-flex text-center justify-content-center my-5">
  <p class="fw-bold me-2">總金額</p>
  <h1 class="fs-1 fw-bold" >{{totalAmount}}</h1>
</div>

<div class="container-fluid container-md p-0">
  <div class="text-end">
    <a href="/records/new" class="btn btn-primary col-12 col-sm-2 p-2 mb-3">新增支出</a>
  </div>
  <div class="col-md-3 mb-3">
    <form action="/records" method="get">
    <select name="categoryId" id="categoryId" class="form-select" onchange="this.form.submit()">
      <option value="">全部</option>
      {{#each categories}}
      <option value="{{this.id}}" {{#ifCond this.id ../categoryId}}selected{{/ifCond}}>{{this.name}} {{../categoryId}}</option>
      {{/each}}
    </select>
    </form>
  </div>
  <table class="table table-hover table-striped">
    <tbody>
      {{#each records}}
      <tr>
        <th scope="row" class="align-middle text-center">
          <i class="{{this.Category.icon}}" style="transform: scale(1.5);"></i>
        </th>
        <td class="align-middle">
          {{this.name}}
        </td>
        <td class="align-middle">
          {{this.date}}
        </td>
        <td class="align-middle">{{this.amount}}</td>
        <td class="align-middle d-flex justify-content-center">
          <a href="/records/{{this.id}}/edit" class="btn btn-outline-primary me-2">修改</a>
          <form action="/records/{{this.id}}?_method=DELETE" method="post">
          <button type="submit" class="btn btn-outline-danger" onclick="return confirm(`你確定要刪除 {{this.name}} 這筆支出嗎?`)">
            刪除
          </button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

</div>